body { font-family: 'Titillium Web', sans-serif; }

.navbar { height: 118px; }
.navbar-brand { font-size: 34px; }
.navbar a.nav-link, .navbar span { font-size: 28px; }

/* section hero */
section#hero { height: 765px; }

/* section explore awal */
section#explore { height: 235px; text-align: center; justify-content: center; padding-top: 50px; }
section#explore button { width: 350px; height: 55px; background-color: #3A2A67; color: white; font-size: 30px; border-radius: 13px; text-decoration: none; }
section#explore a { padding: 0 60px 0px 60px; }
section#explore .input { text-align: center; justify-content: center; padding: 55px 0 0 240px; }
section#explore .form-control { width: 1000px; height: 55px; border-radius: 100px; border: 1.2px solid #000000; font-weight: 300; 
    font-size: 28px;
    padding-left: 50px;
    letter-spacing: -0.025em; }


/* section school */
section#school { height: 1370px; text-align: center;}
section#school h1 { padding-top: 90px; font-size: 48px; }
section#school .row { justify-content: center; padding: 90px 135px 0 135px; }
section#school .card { background-color: #FFFEF7; border-radius: 10px; border-style: none; height: 420px; box-shadow: 6px 6px 3px rgba(226, 226, 226, 0.25); }
section#school img { border-radius: 25px; width: 200px; margin: 0 40px 40px 40px; }
section#school .card-title { font-size: 30px; text-align: center; }

/* section schools */
section#schools { height: 1410px; background-color: grey; }
section#schools h1 { padding-top: 40px; text-align: center; font-size: 48px; }
section#schools .row { padding-top: 90px; justify-content: center; margin-left: 50px; margin-right: 50px; }
section#schools .card { height: 585px; width: 405px; background-color: #FFFAFA; border-radius: 30px; border-style: none;}
section#schools img { height: 400px; }
section#schools .card-title { font-size: 29px; padding-left: 55px; text-align: left; }

/* section sponsor */
section#sponsor { height: 990px; text-align: center; margin-bottom: 100px; }
section#sponsor h1 { padding-top: 65px; font-size: 48px;}

/* section footer */
section#footer { height: 420px; background-color:#3A2A67; }
section#footer .kiri { padding-top: 65px; padding-left: 195px; color: #fff; }
section#footer .kiri h3 { font-size: 34px; padding-bottom: 20px; }
section#footer .kiri h5 { font-size: 21px; padding-bottom: 20px; }
section#footer .kiri p { font-size: 16px; padding-bottom: 20px; }
section#footer .social-media i { letter-spacing: 20px; }
section#footer .social-media a { text-decoration: none; color: #fff; font-size: 21px; }

section#footer .kanan { padding-top: 130px; padding-left: 160px; color: #fff; }
section#footer .kanan a { font-size: 21px; text-decoration: none; color: #fff; }
section#footer .kanan p { font-size: 16px; padding-top: 130px; }
